<?xml version="1.0"?>
 
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".unityweb" mimeType="application/unityweb" />
            <mimeMap fileExtension=".data.unityweb" mimeType="application/data.unityweb" />
            <mimeMap fileExtension=".wasm.code.unityweb" mimeType=".wasm.code.unityweb" />
            <mimeMap fileExtension=".wasm.framework.unityweb" mimeType="application/.wasm.framework.unityweb" />
     </staticContent>
    </system.webServer>
</configuration> 